h1 {
  text-align: center;
  font-style: italic;
  color: black;
}

.column {
  width: 300px;
  float: left;
  border: solid grey;
  border-width: 20px;
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px;
}


.column2 {
  width: 300px;
  float: right;
  border: solid grey;
  border-width: 20px;
  background-color: whitesmoke;
  padding: 10px;
  margin: 5px
}


.headbox {
  width: 100%;
  border: solid blueviolet;
  border-width: 10px;
  background-color: orangered;
  margin-bottom: 10px;
  padding: 4px;
}

body {
  background-color: black;
}

.center {
  display: flex;
  width: auto;
  border: solid grey;
  border-width: 8px;
  background-color: whitesmoke;
  margin-bottom: 5px;
  align-items: center;
  margin: 5px;
}
