h1 {
  text-align: center;
  font-style: italic;
  color: black;
}

.sidebarl {
  width: 25%;
  float: left;
  background-color:grey;
}

.sidebar2 {
  width: 300px;
  float: right;
  background-color: grey;
}


.headbox {
  width: 100%;
  border: solid blueviolet;
  border-width: 10px;
  background-color: orangered;
  margin-bottom: 10px;
  padding: 4px;
}

body {
  background-color: black;
}

.center {
  width: 60%;
  border: solid grey;
  border-width: 8px;
  background-color: whitesmoke;
  margin-bottom: 5px;
}
